<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KYC Home</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <header>
      <h1>KYC Verification Portal</h1>
    </header>
    <h2>wellcome: <%= user.username %></h2>
    <main>
      <section class="kyc-form">
        <h2>Begin Your KYC Process</h2>
        <form action="/submit-kyc" method="POST">
          <label for="fullName">Full Name</label>
          <input type="text" id="fullName" name="fullName" required />

          <label for="email">Email Address</label>
          <input type="email" id="email" name="email" required />

          <label for="phone">Phone Number</label>
          <input type="tel" id="phone" name="phone" required />
          <label for="idType">idType</label>
          <input type="text" id="idType" name="idType" required />

          <button type="submit">Submit</button>
        </form>
      </section>
    </main>
    <footer>
      <p>&copy; 2025 KYC Company</p>
    </footer>
  </body>
</html>
